body{
  background-color: #D1D5DB;
  font-family: 'Poppins';
}
.animate-fade-in {
    opacity: 0.3;
    animation: fade-in 0.8s ease-in-out forwards; /* Adjust duration as needed */
  }
  
  @keyframes fade-in {
    to { opacity: 1; }
  }